[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
bluezero = "*"
pyserial = "*"
pyobjc-framework-CoreBluetooth = {version = "*", sys_platform = "== 'darwin'"}

[dev-packages]
bumpversion = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"

[requires]
python_version = "3.6"
