[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
bluezero = "*"
pyserial = "*"
# Backport of Python 3.7 dataclasses. Remove when Python 3.7 is released!
dataclasses = "*"
maya = "*"
gspread = "*"
oauth2client = "*"

[dev-packages]
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"

[requires]
python_version = "3.6"
