[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyserial = "*"
# Backport of Python 3.6 format strings
future-fstrings = "*"
# Backport of Python 3.7 data classes
dataclasses = "*"
gspread = "*"
oauth2client = "*"
pytz = "*"
dbus-python = { version = "*", sys_platform = "== 'linux'"}
bluezero = { version = "*", sys_platform = "== 'linux'"}
PyGObject = { version = "*", sys_platform = "== 'linux'"}
pycairo = { version = "*", sys_platform = "== 'linux'"}

[dev-packages]
bumpversion = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
ptvsd = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3"
